@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gemunu Libre', sans-serif;
}

body{
  background: var(--color-white);
}

.container{
  background: var(--color-white);
  padding: 30px 9%;
}

:root{
  --color-black: #000;
  --color-white: #fff;
}

@import './settings/typography.scss';
@import './global/_Normalize';